// 按鈕主色
$primary: #3aa5ec;
// hover
$primary-dark: #1e7fc6;
$primary-light: #a0d3f5;
// 次要文字或說明
$secondary-text: #7f8c8d;
// 標題文字：#2c3e50
$text-color: #2c3e50;
// 背景色
$bg-color: #f5f7fa;

// 成功/錯誤提示：用綠色、橘紅色點綴即可
$error-color: #ff6f61;
$success-color: #34c38f;
